<sg-section>
  <a href="#heroBlocks" class="sg-h1" id="heroBlocks">Hero Blocks</a>

  <a href="#heroBlocks" class="sg-h3" id="heroBlocks">Default Hero</a>
  <sg-example>
    <div class="heroBlock" style="background-image: url({{ 'tempHero.jpg' | asset_img_url: 'master' }});">
      <div class="card card--category">
        <div class="catTag catTag--donation">Donation</div>
        <h2 class="card-heading">End Child Poverty</h2>
        <p>Hunger is a force that is causing suffering for millions of children all over the world. We're hoping to change that</p>
      </div>
    </div>
  </sg-example>

  <a href="#heroBlocks" class="sg-h3" id="heroBlocks">Gradient Hero</a>
  <sg-example>
    <div class="heroBlock heroBlock--fade" style="background-image: url({{ 'tempHero.jpg' | asset_img_url: 'master' }});">
      <div class="card card--category">
        <div class="catTag catTag--donation">Donation</div>
        <h2 class="card-heading">End Child Poverty</h2>
        <p>Hunger is a force that is causing suffering for millions of children all over the world. We're hoping to change that</p>
      </div>
    </div>
  </sg-example>

  <a href="#heroBlocksSmall" class="sg-h3" id="heroBlocksSmall">Small Hero</a>
  <sg-example>
    <div class="heroBlock heroBlock--small" style="background-image: url({{ 'tempHero.jpg' | asset_img_url: 'master' }});">
      <h1 class="heroBlock-title">My Basket</h1>
    </div>
  </sg-example>

  <a href="#heroBlocksLarge" class="sg-h3" id="heroBlocksLarge">Top-Up Hero</a>
  <sg-example>
    <div class="heroBlock heroBlock--topUp" style="background-image: url({{ 'tempHero.jpg' | asset_img_url: 'master' }});">
      <h1 class="heroBlock-title">Give Daymond the gift of a fresh start.</h1>
      <img class="heroBlock-circularImage" src="{{ 'tempChild.jpg' | asset_url }}" alt="">
    </div>
  </sg-example>
</sg-section>
