<sg-section>
  <a href="#socailIcons" class="sg-h1" id="socailIcons">Iconography</a>
  <a href="#horzIcons" class="sg-h3" id="horzIcons">Horizontal Social Icons</a>
  <sg-example>
    <div class="socialIcons">
      <a class="socialIcons-socialLink" href="{{ settings.twitter_url }}" title="Follow us on Twitter" target="_blank">
      <svg class="icon"><use xlink:href="#icon--twitter"></use></svg>
    </a>
    <a class="socialIcons-socialLink" href="{{ settings.facebook_url }}" title="Follow us on Facebook" target="_blank">
      <svg class="icon"><use xlink:href="#icon--facebook"></use></svg>
    </a>
    <a class="socialIcons-socialLink" href="{{ settings.googleplus_url }}" title="Follow us on Google+" target="_blank">
      <svg class="icon"><use xlink:href="#icon--googleplus"></use></svg>
    </a>
    </div>
  </sg-example>
  <a href="#socialShareIcons" class="sg-h3" id="socialShareIcons">Vertical Social Icons</a> 
  <sg-example> 
    <div class="socialIcons socialIcons--vert">
      <a class="socialIcons-socialLink" href="{{ settings.twitter_url }}" title="Follow us on Twitter" target="_blank">
        <svg class="icon"><use xlink:href="#icon--twitter"></use></svg>
      </a>
      <a class="socialIcons-socialLink" href="{{ settings.facebook_url }}" title="Follow us on Facebook" target="_blank">
        <svg class="icon"><use xlink:href="#icon--facebook"></use></svg>
      </a>
      <a class="socialIcons-socialLink" href="{{ settings.googleplus_url }}" title="Follow us on Google+" target="_blank">
        <svg class="icon"><use xlink:href="#icon--googleplus"></use></svg>
      </a>
    </div>
  </sg-example>
  <a href="#iconblock" class="sg-h3" id="iconblock">Icon Blocks</a>
  <sg-example>
    <div class="iconBlock">
      <div class="iconBlock-icon">
        <svg><use xlink:href="#icon--sector"></use></svg>
      </div>
      <h4 class="h5 iconBlock-headline">8 Countries</h4>
      <p class="iconBlock-subtext">Supported by World Vision</p>
    </div>
  </sg-example>
  <a href="#iconblock" class="sg-h3" id="iconblock">Icon InfoBlocks</a>
  <sg-example>
    <div class="iconInfoBlock">
      <svg class="iconInfoBlock-icon"><use xlink:href="#icon--girl"></use></svg>
      <h6 class="iconInfoBlock-category">Gender</h6>
      <h5 class="iconInfoBlock-info">Girl</h5>
    </div>
    <div class="iconInfoBlock">
      <svg class="iconInfoBlock-icon"><use xlink:href="#icon--world"></use></svg>
      <h6 class="iconInfoBlock-category">country</h6>
      <h5 class="iconInfoBlock-info">Columbia</h5>
    </div>
    <div class="iconInfoBlock">
      <svg class="iconInfoBlock-icon"><use xlink:href="#icon--birthday"></use></svg>
      <h6 class="iconInfoBlock-category">Birthday</h6>
      <h5 class="iconInfoBlock-info">October 15, 2004</h5>
      <h5 class="iconInfoBlock-info iconInfoBlock-info--stack">11 Years Old</h5>
    </div>
    <div class="iconInfoBlock">
      <svg class="iconInfoBlock-icon"><use xlink:href="#icon--birthday"></use></svg>
      <h6 class="iconInfoBlock-category">Birthday</h6>
      <h5 class="iconInfoBlock-info">October 15, 2004<span class="u-hide--palm"> (11 Years Old)</span></h5>
    </div>
  </sg-example>
  <a href="#statisticBlock" class="sg-h3" id="statisticBlock">Statistics Block</a>
  <sg-example>
    <div class="statisticBlock">
      <svg class="statisticBlock-icon"><use xlink:href="#icon--stat-water"></use></svg>
      <div class="statisticBlock-textWrapper">
        <h5 class="statisticBlock-headline">90%</h5>
        <p class="statisticBlock-subtext">of the population has access to safe water</p>
      </div>
    </div>
    <div class="statisticBlock">
      <svg class="statisticBlock-icon"><use xlink:href="#icon--stat-life"></use></svg>
      <div class="statisticBlock-textWrapper">
        <h5 class="statisticBlock-headline">74 Years</h5>
        <p class="statisticBlock-subtext">life expectancy</p>
      </div>
    </div>
    <div class="statisticBlock">
      <svg class="statisticBlock-icon"><use xlink:href="#icon--stat-education"></use></svg>
      <div class="statisticBlock-textWrapper">
        <h5 class="statisticBlock-headline">95%</h5>
        <p class="statisticBlock-subtext">of the population is enrolled in school</p>
      </div>
    </div>
    <div class="statisticBlock">
      <svg class="statisticBlock-icon"><use xlink:href="#icon--stat-health"></use></svg>
      <div class="statisticBlock-textWrapper">
        <h5 class="statisticBlock-headline">12/1000</h5>
        <p class="statisticBlock-subtext">of children die before their fifth birthday</p>
      </div>
    </div>
    <div class="statisticBlock">
      <svg class="statisticBlock-icon"><use xlink:href="#icon--stat-income"></use></svg>
      <div class="statisticBlock-textWrapper">
        <h5 class="statisticBlock-headline">$2,290</h5>
        <p class="statisticBlock-subtext">average anual income</p>
      </div>
    </div>
  </sg-example>
</sg-section>
