<sg-section>
  <a href="#siteFooter" class="sg-h1" id="siteFooter">Site Footer</a>
  <sg-example full-width>
    <footer class="siteFooter">

      <div class="siteFooter-social">
        <div class="container">
          <div class="socialIcons">
            <a class="socialIcons-socialLink" href="{{ settings.twitter_url }}" title="Follow us on Twitter" target="_blank">
              <svg class="icon"><use xlink:href="#icon--twitter"></use></svg>
            </a>
            <a class="socialIcons-socialLink" href="{{ settings.facebook_url }}" title="Follow us on Facebook" target="_blank">
              <svg class="icon"><use xlink:href="#icon--facebook"></use></svg>
            </a>
            <a class="socialIcons-socialLink" href="{{ settings.googleplus_url }}" title="Follow us on Google+" target="_blank">
              <svg class="icon"><use xlink:href="#icon--googleplus"></use></svg>
            </a>
          </div>
        </div>
      </div>

      <nav class="siteFooter-sitemap">
        <div class="container">
          <div class="grid">
            <div class="grid-1of6 grid-1of3--lap">
              <div class="siteFooter-navSection">
                <h5 class="siteFooter-sectionTitle">Our Work</h5>
                <a href="#" class="siteFooter-navLink">Where We Work</a>
                <a href="#" class="siteFooter-navLink">What We Do</a>
                <a href="#" class="siteFooter-navLink">Our Impact</a>
              </div>
            </div>
            <div class="grid-1of6 grid-1of3--lap">
              <div class="siteFooter-navSection">
                <h5 class="siteFooter-sectionTitle">Child Sponsorship</h5>
                <a href="#" class="siteFooter-navLink">Sponsor a Child</a>
                <a href="#" class="siteFooter-navLink">Learn About Sponsorship</a>
              </div>
            </div>
            <div class="grid-1of6 grid-1of3--lap">
              <div class="siteFooter-navSection">
                <h5 class="siteFooter-sectionTitle">Ways to Give</h5>
                <a href="#" class="siteFooter-navLink">Ship Gift Catalog</a>
                <a href="#" class="siteFooter-navLink">Choose a Cause</a>
              </div>
            </div>
            <div class="grid-1of6 grid-1of3--lap">
              <div class="siteFooter-navSection">
                <h5 class="siteFooter-sectionTitle">Get Involved</h5>
                <a href="#" class="siteFooter-navLink">Volunteer</a>
                <a href="#" class="siteFooter-navLink">VOICE: Advocate</a>
                <a href="#" class="siteFooter-navLink">Church Engagements</a>
                <a href="#" class="siteFooter-navLink">Procurement Inquiries</a>
              </div>
            </div>
            <div class="grid-1of6 grid-1of3--lap">
              <div class="siteFooter-navSection">
                <h5 class="siteFooter-sectionTitle">About Us</h5>
                <a href="#" class="siteFooter-navLink">Careers</a>
                <a href="#" class="siteFooter-navLink">Our Core Values</a>
                <a href="#" class="siteFooter-navLink">Annual Report</a>
                <a href="#" class="siteFooter-navLink">Media Centre</a>
              </div>
            </div>
            <div class="grid-1of6 grid-1of3--lap">
              <div class="siteFooter-navSection">
                <h5 class="siteFooter-sectionTitle">My World Vision</h5>
                <a href="#" class="siteFooter-navLink">My Sponsorship Guide</a>
                <a href="#" class="siteFooter-navLink">Connecting With Communities</a>
                <a href="#" class="siteFooter-navLink">Childview Magazine</a>
                <a href="#" class="siteFooter-navLink">Log in or Register for an Account</a>
              </div>
            </div>
          </div>
        </div>
      </nav>

      <div class="siteFooter-copyright">
        <div class="container">
          <div class="grid grid--middle">
            <div class="grid-1of2 grid-1of1--portable">
              <small>
                © Copyright 2016 World Vision Canada. All rights reserved.<br /> Business/Registration Number: 119304855RR0001<br /> All charitable donations to World Vision are tax receiptable in Canada. Learn more <a href="#">here</a>.
              </small>
            </div>
            <div class="grid-1of2 grid-1of1--portable">
              <div class="siteFooter-logos">
                <img class="siteFooter-logo siteFooter-imagineCanada" src="{{ 'logo-imagineCanada.png' | asset_url }}" alt="">
                <img class="siteFooter-logo siteFooter-bbb" src="{{ 'logo-bbb.png' | asset_url }}" alt="">
                <img class="siteFooter-logo siteFooter-cccc" src="{{ 'logo-cccc.png' | asset_url }}" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>

    </footer>
  </sg-example>
</sg-section>
