<div class="u-background">
  <div class="waysToGiveFilters">
    <h3 class="h5">Find Your Cause</h3>
    <div class="waysToGiveFilters-toggle revealToggle-toggle">
      <svg><use xlink:href="#icon--filters"></use></svg>
      Show Filters
    </div>
    <div class="waysToGiveFilters-inputs revealToggle-hide">
      <div class="grid">
        <div class="grid-1of3 grid-1of1--portable">
          <div class="select select--iconLeft">
            <svg class="select-icon"><use xlink:href="#icon--frequency"></use></svg>
            <select class="select-input" name="waysToGive-frequency" id="waysToGive-frequency">
              <option selected disabled>Payment Frequency</option>
              <option value="monthly">Monthly</option>
              <option value="yearly">Yearly</option>
            </select>
          </div>
        </div>
        <div class="grid-1of3 grid-1of1--portable">
          <div class="select select--iconLeft">
            <svg class="select-icon"><use xlink:href="#icon--cause"></use></svg>
            <select class="select-input" name="waysToGive-cause" id="waysToGive-cause">
              <option selected disabled>Cause</option>
              <option value="monthly">Monthly</option>
              <option value="yearly">Yearly</option>
            </select>
          </div>
        </div>
        <div class="grid-1of3 grid-1of1--portable">
          <div class="select select--iconLeft">
            <svg class="select-icon"><use xlink:href="#icon--sector"></use></svg>
            <select class="select-input" name="waysToGive-sector" id="defaultSelectInput-sector">
              <option selected disabled>Sector</option>
              <option value="monthly">Monthly</option>
              <option value="yearly">Yearly</option>
            </select>
          </div>
        </div>
      </div>
    </div>  
  </div>
  <div class="flexContainer waysToGive-container">
    <div class="card card--imageCard card--featured card--featuredImageLeft">
      <div class="catTag catTag--featCause">Featured Cause</div>
      <div class="card-innerFlexWrapper">
        <div class="card-textWrapper">
          <h2 class="card-heading">End Child Poverty</h2>
          <p>Hunger is affecting millions of children around the world. World Vision is supporting over 10 countries to provide food to communities in need</p>
          <a href="#cards" class="textLink">Feed Change</a>
        </div>
      </div>
      <div class="card-image" style="background-image: url({{ 'ODN-world-vision-magazine-@2x.jpg' | asset_img_url: '932x' }});">
      </div>
    </div>
    <div class="card card--imageCard card--stack">
      <div class="catTag catTag--donation">Donation</div>
      <div class="card-image" style="background-image: url({{ 'ODN-clean-water-@2x.jpg' | asset_img_url: '840x' }});"></div>
      <div class="card-innerFlexWrapper">
        <div class="card-textWrapper">
          <h2 class="card-heading">Clean Water</h2>
          <p>CLean water increases access to healthcare, food and growing communities.</p>
          <a href="#cards" class="textLink">Donate to clean water</a>
        </div>
      </div>
    </div>
    <div class="card card--imageCard card--stack">
      <div class="catTag catTag--gift">Gift Catalogue</div>
      <div class="card-image" style="background-image: url({{ 'ODN-world-vision-gift-catalogue-@2x.jpg' | asset_img_url: '840x' }});"></div>
      <div class="card-innerFlexWrapper">
        <div class="card-textWrapper">
          <h2 class="card-heading">Gift Giving with Impact</h2>
          <p>Our gift catalogue offers a multitude of gifts that create a measurable impact in global communities.</p>
          <a href="#cards" class="textLink">Shop gift catalogue</a>
        </div>
      </div>
    </div>
    <div class="card card--imageCard card--featured card--featuredImageRight">
      <div class="catTag catTag--featCause">Featured Cause</div>
      <div class="card-innerFlexWrapper">
        <div class="card-textWrapper">
          <h2 class="card-heading">Support Syria</h2>
          <p>Support the millions of children and families affected by the conflict. World Vision is providing food, support, and medical assistants to the victims of the crisis.</p>
          <a href="#cards" class="textLink">Donate to the crisis</a>
        </div>
      </div>
      <div class="card-image" style="background-image: url({{ 'ODN-world-vision-syria-@2x.jpg' | asset_img_url: '932x' }});">
      </div>
    </div>
    <div class="card card--imageCard card--stack">
      <div class="catTag catTag--donation">Donation</div>
      <div class="card-image" style="background-image: url({{ 'ODN-memorial-world-vision-@2x.jpg' | asset_img_url: '840x' }});"></div>
      <div class="card-innerFlexWrapper">
        <div class="card-textWrapper">
          <h2 class="card-heading">Create a Memorial</h2>
          <p>Come together with family and friends to honour a special person who has passed.</p>
          <a href="#cards" class="textLink">Donate in Memory</a>
        </div>
      </div>
    </div>
    <div class="card card--imageCard card--stack">
      <div class="catTag catTag--donation">Donation</div>
      <div class="card-image" style="background-image: url({{ 'ODN-legacy-giving-@2x.jpg' | asset_img_url: '840x' }});"></div>
      <div class="card-innerFlexWrapper">
        <div class="card-textWrapper">
          <h2 class="card-heading">Legacy Giving</h2>
          <p>Combine solid financial planning with compassionate giving.</p>
          <a href="#cards" class="textLink">Leave a legacy</a>
        </div>
      </div>
    </div>
    <div class="card card--imageCard card--stack">
      <div class="catTag catTag--donation">Donation</div>
      <div class="card-image" style="background-image: url({{ 'ODN-donate-resources-@2x.jpg' | asset_img_url: '840x' }});"></div>
      <div class="card-innerFlexWrapper">
        <div class="card-textWrapper">
          <h2 class="card-heading">Donate Resources</h2>
          <p>Create opportunities and bring hope for kids and their families living in difficult circumstances</p>
          <a href="#cards" class="textLink">Donate</a>
        </div>
      </div>
    </div>
  </div>
</div>
